$dark-grey: #1b1b1b;
$green: #257A4D;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: url('background_tile.png');
  font-family: helvetica;
}

#menu {
  height: 40px;
  margin: 10px;
  padding: 10px;
}

#main {
  height: calc(100% - 60px);
  width: 100%;
  padding: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.card {
  width: 80%;
  background-color: $dark-grey;
  display: inline-block;
  margin-right: 15px;

  .date, .name, .event {
    padding: 10px;
  }

  .date {
    color: $green;
  }

  .name {
    color: $green;
    text-align: right;
    text-transform: uppercase;
  }

  @media screen and (max-width: 400px) {
    width: 250px;
  }
  @media screen and (min-width: 560px) {
    width: 65%;
  }
  @media screen and (min-width: 660px) {
    width: 300px;
  }
}